<!DOCTYPE html>
<html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"> </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"> </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"> </script>
       <script src="/public/scripts.js"> </script>
       <link rel = "stylesheet" type="text/css" href="/public/styles.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.7/semantic.min.css">
<script>


</script>

</head>

<body ng-app="ShopList">

  <div class="shop-container" ng-controller="ListController">

        <div class="top">
          <h1>{{title}}</h1>
          <p> Welcome to your shopping list, add, view, or delete various items that you have on your list to buy.
          </p>
          <button class="medium ui button add-btn">
            Add Item
          </button>
        </div>

        <div class="after-top">
          <h1> Items to shop </h1>

          <div class="ui four column doubling stackable grid container" ng-app="myApp" ng-controller="myCtrl">
            {{firstName + " " + lastName}}

              <div class="column">
                <div class="ui card">
                  <div class="image item-img">
                    <img src="https://res.cloudinary.com/ssenseweb/image/upload/b_white/v669/171168M236001_1.jpg">
                  </div>
                  <div class="content">
                    <a class="header item-name">Maison Margiela Future </a>
                    <div class="meta">
                    </div>


                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      <span class="item-price"> Price: 591 </span>
                    </a>
                </div>
              </div>
            </div>
              <div class="column">
                <div class="ui card">
                  <div class="image item-img">
                    <img src="http://images.neimanmarcus.com/ca/1/product_assets/N/3/V/Q/B/NMN3VQB_mu.jpg">
                  </div>
                  <div class="content">
                    <a class="header item-name">Burberry Check Trim polo shirt</a>
                    <div class="meta">
                    </div>

                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      <span class="item-price"> Price: 175 </span>
                    </a>
                  </div>
                </div>
            </div>
            </div>
        </div>



</div>



</body>


       <script>

       loadCards();

       $(function(){



       });
$(".ui.card").click(function(){



});


function getAllItems(){


}


  function loadCards(){
    var jsonData;
    var cardContainer= $(".ui.four.column.doubling.stackable.grid.container");

    var itemPrice = $(".ui.card .item-price");
    var itemName = $(".ui.card .item-name");
    var itemImg = $("ui.card .item-img");
    //var uiCard = $("<div>", {id: "foo", "class": "a", ""});



    $.ajax({
      url:"/items",
      type:"GET",
      dataType: "json",
      success: function(data){
        $.each(data, function(i,item){
          var priceusd = data[i].priceusd;
          var name = data[i].name;
          var img = data[i].image;
          var id = data[i]._id;
          cardContainer.append(


          );

        });
      }

    });




  }



        </script>



</html>
