<!DOCTYPE html>
<html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"> </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"> </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"> </script>
       <script src="/public/scripts.js"> </script>
       <link rel = "stylesheet" type="text/css" href="/public/styles.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.7/semantic.min.css">

</head>

<body>

  <div class="shop-container">

        <div class="top">
          <h1>ShopList</h1>
          <p> Welcome to your shopping list, add, view, or delete various items that you have on your list to buy.
          </p>
          <button class="medium ui button add-btn">
            Add Item
          </button>
        </div>

        <div class="after-top">
          <h1> Items to shop </h1>

          <div class="ui four column doubling stackable grid container">
              <div class="column">
                <div class="ui card">
                  <div class="image">
                    <img src="https://res.cloudinary.com/ssenseweb/image/upload/b_white/v669/171168M236001_1.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Maison Margiela Future Sneakers</a>
                    <div class="meta">
                    </div>


                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      Price: 591
                    </a>
                </div>
              </div>
            </div>
              <div class="column">
                <div class="ui card">
                  <div class="image">
                    <img src="http://n.nordstrommedia.com/ImageGallery/store/product/Zoom/16/_12283756.jpg?crop=pad&pad_color=FFF&format=jpeg&w=391&h=600&q=60.jpg">
                  </div>
                  <div class="content">
                    <a class="header">Stevie Feliciano</a>
                    <div class="meta">
                      <span class="date">Joined in 2014</span>
                    </div>
                    <div class="description">
                      Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                    </div>
                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      22 Friends
                    </a>
                  </div>
                </div>
            </div>
            </div>
        </div>



</div>

</body>

</html>
