<!DOCTYPE html>
<html>
<head>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"> </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"> </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"> </script>
       <script src="/public/scripts.js"> </script>
       <link rel = "stylesheet" type="text/css" href="/public/styles.css">
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.1.7/semantic.min.css">
<script>


</script>

</head>

<body ng-app="ShopList">

  <div class="shop-container" ng-controller="ItemController">

        <div class="top">




          <p> Welcome to your shopping list, add, view, or delete various items that you have on your list to buy.
          </p>
          <button class="medium ui button add-btn">
            Add Item
          </button>
        </div>

        <div class="after-top">
          <h1> Items to shop </h1>

          <div class="ui four column doubling stackable grid container" >

              <div class="column" ng-repeat="item in items">
                <div class="ui card">
                  <div class="image item-img">
                    <img src =  {{item.image}} >
                  </div>
                  <div class="content">
                    <span class="header item-name">{{item.name}}</span>
                    <div class="meta">
                    </div>


                  </div>
                  <div class="extra content">
                    <a>
                      <i class="user icon"></i>
                      <span class="item-price"> Price: {{item.priceusd}} </span>
                    </a>
                </div>
              </div>
            </div>

            </div>
        </div>



    <div class="ui modal">
      <i class="close icon"></i>
      <div class="header">
        Add New Item
      </div>
      <div class="content">
          <form class="ui form item-form" action="/items" method="POST" enctype="multipart/form-data">
            <div class="field">
              <label>Item Name</label>
              <input class = "item-form-name" type="text" name="name" placeholder="Item Name" required>
            </div>
            <div class="field">
              <label>Price</label>
              <input class="item-form-price" type="text" name="priceusd" placeholder="Item Price" required>
            </div>


            <div class="field">
              <label>Links</label>

              <input class="item-form-link" type="text" name="link" placeholder="Item Links" required>

            </div>

            <div class="field">
              <label>Image</label>

              <input class="item-form-image" type="file" name="image" accept="image/*">

            </div>

            <div class="field">

              <button class="ui button submit-form" type="submit">Submit</button>


            </div>




        </form>
        </div>

      </div>
      </div>

      </div>
    </div>


</div>



</body>

</html>
